import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto+Condensed&display=swap');


*{ 
	
	 padding:0px; 
	 margin:0px; 
	 box-sizing:border-box; 
} 

:root{
	--nav:#ededed;
	--sec:#d8ed8a;
	--primary:#778e5c;
	--back:#2b2c2e;
}

a {
	text-decoration: none;
}

img{
	object-fit:cover;
}

button{
	border:none;
} 

.aboutus {
	width:100%;
	height:100vh;
	top:0px;
	left:0px;
	
	
}

.aboutus .backimg{
	width:100%;
	height:100vh;
	position:absolute;
	opacity:0.5;
}

.aboutus .fronth1{
	width:100%;
	height:100vh;
	position:relative;
	top:0;
	left:0px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.aboutus .fronth1 h1{
	font-size:60px;
	font-weight:700;
	font-family: 'Amatic SC', cursive;
	color: var(--back);
}

.aboutus .fronth1 p{
	width:70%;
	font-size:30px;
	font-weight:700;
	font-family: 'Amatic SC', cursive;
	color: var(--back);
	margin:20px;
	text-align:center;
}