@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700;800;900&display=swap');


*{ 
	
	 padding:0px; 
	 margin:0px; 
	 box-sizing:border-box; 
} 

:root{
	--nav:#ededed;
	--sec:#d8ed8a;
	--primary:#778e5c;
	--back:#2b2c2e;
}
a {
	text-decoration: none;
}

img{
	object-fit:cover;
}

button{
	border:none;
}

p, li, a {
    font-family: 'Amatic SC', cursive;
	letter-spacing: 2px;
}

h2 {
	font-family: 'Amatic SC', cursive;
	letter-spacing: 2px;
	font-size:70px;
	color:var(--primary)
}



.backtotop {
	width:40px;
	height:40px;
	position:fixed;
	bottom:20px;
	right:20px;
}


.sec1 {
	width:100%;
	height:auto;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	margin-top:100px;
}

.sec1 .h2tittle{
	margin-bottom:20px;
}

.sec1 .form{
	width:100%;
	height:50vh;
	margin-bottom:20px;
	display:flex;
	flex-direction:column;
	justify-content:space-evenly;
	align-items:center;
	margin-top:20px;
}

.sec1 .form #email{
	width:50%;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
}

.sec1 .form #email label{
	font-family: 'Amatic SC', cursive;
	font-weight:700;
	font-size:30px;
	color:var(--back);
	margin:10px;
}
.sec1 .form #email input{
	width:200px;
	height:40px;
	border-radius:5px;
	margin:10px;
}

.sec1 .form #password{
	width:50%;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
}

.sec1 .form #password label{
	font-family: 'Amatic SC', cursive;
	font-weight:700;
	font-size:30px;
	color:var(--back);
	margin:10px;
}
.sec1 .form #password input{
	width:200px;
	height:40px;
	border-radius:5px;
	margin:10px;
}

.sec1 .form #submit{
	font-size:20px;
	font-weight:900;
	font-family: 'Amatic SC', cursive;
	width:150px;
	height:40px;
	border-radius:5px;
	color:var(--back);
	transition:0.7s;
	background-color:var(--sec);
	margin-top:20px;
}

.sec1 .form #submit:hover{
	font-size:20px;
	font-weight:700;
	font-family: 'Amatic SC', cursive;
	width:150px;
	height:40px;
	border-radius:5px;
	color:var(--primary);
	background-color:var(--back);
	transition:0.7s;
}


.backtotop {
	width:40px;
	height:40px;
	position:fixed;
	bottom:20px;
	right:20px;
}